# Ignore everything
*

# Do not ignore these files...
!/data/aws_credentials/.gitkeep
!/data/blueprints/.gitkeep
!/data/history/.gitkeep
!*/terraformx/dist/terraformx.exe
!*/terraformx/one-dir-terraformx-install.sh
!*/terraformx/one-file-terraformx-install.sh
!*/dist/main.exe
!/docs/*
!LICENSE
!Makefile
!one-dir-terraform-manager-install.sh
!one-file-terraform-manager-install.sh