/tests/__pycache__/
/utils/__pycache__/
/terraformx/__pycache__/
/actions/build/
/actions/dist/
*.spec
/terraformx/build/
/terraformx/dist/
/dist/
/build/
terraformx.spec
main.spec
/data/aws_credentials/*
/data/blueprints/*
/data/history/*

# Do not ignore these files...
!/data/aws_credentials/.gitkeep
!/data/blueprints/.gitkeep
!/data/history/.gitkeep